PG_USERNAME=postgres
PG_PASSWORD=postgres
PG_PORT_HOST=5433

USER_PG_URL=postgres://postgres:postgres@postgres:5432/go_market_user?sslmode=disable
PRODUCT_PG_URL=postgres://postgres:postgres@postgres:5432/go_market_product?sslmode=disable

JWT_SECRET=some_super_mega_secret

KAFKA_BROKERS=kafka:9092
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
SMTP_FROM="GoMarket <noreply@gomarket.local>"
BASE_URL=http://localhost:8080