services:
  postgres:
    image: postgres:16
    container_name: pg
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${PG_USERNAME}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: postgres
    ports:
      - "${PG_PORT_HOST:-5433}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${PG_USERNAME} -d postgres" ]
      interval: 5s
      timeout: 3s
      retries: 10

  kafka:
    image: apache/kafka:3.7.0
    container_name: kafka
    restart: unless-stopped
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      CLUSTER_ID: "MkU3OEVBNTcwNTJENDM2Qk"
    ports:
      - "9092:9092"
    volumes:
      - kafkadata:/var/lib/kafka/data
    healthcheck:
      test: [ "CMD-SHELL", "/opt/kafka/bin/kafka-broker-api-versions.sh --bootstrap-server localhost:9092" ]
      interval: 10s
      timeout: 10s
      retries: 5

  mailhog:
    image: mailhog/mailhog:v1.0.1
    container_name: mailhog
    restart: unless-stopped
    ports:
      - "1025:1025"
      - "8025:8025"

  user-service:
    build:
      context: .
      dockerfile: services/user-service/Dockerfile
      target: runtime
    depends_on:
      postgres:
        condition: service_healthy
      kafka:
        condition: service_healthy
    env_file:
      - ./.env
    environment:
      USER_PG_URL: ${USER_PG_URL}
      HTTP_ADDR: ":8080"
      JWT_SECRET: ${JWT_SECRET}
      ACCESS_TTL: ${ACCESS_TTL}
      REFRESH_TTL: ${REFRESH_TTL}
      KAFKA_BROKERS: ${KAFKA_BROKERS}
      BASE_URL: ${BASE_URL}
    ports:
      - "8080:8080"
    restart: unless-stopped

  product-service:
    build:
      context: .
      dockerfile: services/product-service/Dockerfile
      target: runtime
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - ./.env
    environment:
      PG_URL: ${PRODUCT_PG_URL}
      HTTP_ADDR: ":8081"
      JWT_SECRET: ${JWT_SECRET}
      KAFKA_BROKERS: ${KAFKA_BROKERS}
    ports:
      - "8081:8081"
    restart: unless-stopped

  notification-service:
    build:
      context: .
      dockerfile: services/notifications-service/Dockerfile
      target: runtime
    depends_on:
      kafka:
        condition: service_healthy
    env_file:
      - ./.env
    environment:
      KAFKA_BROKERS: ${KAFKA_BROKERS}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_FROM: ${SMTP_FROM}
    restart: unless-stopped

volumes:
  pgdata:
  kafkadata: